
<div>
<form  method="POST" action="{$edit.urls.editService}">
<div>
<label>Brand name:</label>
<p>{$edit.editableService.brandname}</p>
</div>
<input name="brandname" hidden value="{$edit.editableService.brandname}" />
<div>
<label>Sid: <label>

</div>
<div>
<input size="50" name="sid" value="{$edit.editableService.sid}" />
</div>
<button type="submit" value="submit">Save</button>
</form>

</div>

<a href="{$edit.urls.back}">Cancel</a>