<p>


<form method="POST" action="{$addNewService.urls.addNewService}">
<div>
<label>Please select Brand name</label>
</div>
<select name="brandname">
{foreach $addNewService.availableServices as $key => $service}
    <option value="{$key}">{$service}</option>
{/foreach}
</select>
<div><label>Sid</label></div>
<div>
<input  name="sid" size="50" />
</div>

<button type="submit">Save</button

</form>

<a href="{$addNewService.urls.back}">Cancel</a>